# Classifiction using Decision Trees

## Predicting Heart Disease
- Using Data from UCI Machine Learning Repository
- Using Classification Trees

---

## Load Packages

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import plot_tree
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import plot_confusion_matrix

In [6]:
# Print Version
print(f"pandas version: {pd.__version__}")
print(f"numpy version: {np.__version__}")

pandas version: 1.0.3
numpy version: 1.17.5

---

## Import Data
- [Heart Disease Dataset](https://archive.ics.uci.edu/ml/datasets/Heart+Disease) from [UCI Machine Learning Repository](https://archive.ics.uci.edu/ml/index.php)
- Using locally saved dataset

In [7]:
# Read in Data
df = pd.read_csv("./Data/heart-disease.data", header=None)
df.head()

     0    1    2      3      4    5    6      7    8    9    10   11   12  13
0  63.0  1.0  1.0  145.0  233.0  1.0  2.0  150.0  0.0  2.3  3.0  0.0  6.0   0
1  67.0  1.0  4.0  160.0  286.0  0.0  2.0  108.0  1.0  1.5  2.0  3.0  3.0   2
2  67.0  1.0  4.0  120.0  229.0  0.0  2.0  129.0  1.0  2.6  2.0  2.0  7.0   1
3  37.0  1.0  3.0  130.0  250.0  0.0  0.0  187.0  0.0  3.5  3.0  0.0  3.0   0
4  41.0  0.0  2.0  130.0  204.0  0.0  2.0  172.0  0.0  1.4  1.0  0.0  3.0   0

#### Add column names based on info provided in [UCI Machine Learning Repository for Heart Disease](https://archive.ics.uci.edu/ml/datasets/Heart+Disease)

In [9]:
# Change column names
col_names = ['age', 'sex', 'cp', 'restbp', 'chol', 
             'fbs', 'restecg', 'thalach', 'exang', 
             'oldpeak', 'slope', 'ca', 'thal', 'hd']

# Use dictionary with df.rename(columns=col_names, inplace=True) to rename and replace columns
df.columns = col_names
df.head()

,age,sex,cp,restbp,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,hd
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0

---

## Missing Data