# Stock Analysis

In [1]:
import datetime as dt
import matplotlib.pyplot as plt
from matplotlib import style
import pandas as pd
import pandas_datareader.data as web #grabs finance data from web (Yahoo) and returns a dataframe

In [2]:
# Set style
style.use('ggplot')

In [3]:
#Set start and end date
start = dt.datetime(2000,1,1) #January, 1st, 2000
end = dt.datetime.today() #Today's date:Return (year,month,day,hour,minute,second,milisecond)

#### Get stock data using pandas_datareader, based on dates specified

In [4]:
df = web.DataReader('TSLA', 'yahoo', start, end)

In [5]:
df.head()

                 Open   High        Low      Close  Adj Close    Volume
Date
2010-06-29  19.000000  25.00  17.540001  23.889999  23.889999  18766300
2010-06-30  25.790001  30.42  23.299999  23.830000  23.830000  17187100
2010-07-01  25.000000  25.92  20.270000  21.959999  21.959999   8218800
2010-07-02  23.000000  23.10  18.709999  19.200001  19.200001   5139800
2010-07-06  20.000000  20.00  15.830000  16.110001  16.110001   6866900

In [6]:
df.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-11-06,307.000000,307.500000,299.010010,302.779999,302.779999,6486000
2017-11-07,301.019989,306.500000,300.029999,306.049988,306.049988,5294300
2017-11-08,305.500000,306.890015,301.299988,304.390015,304.390015,4725300
2017-11-09,302.500000,304.459991,296.299988,302.989990,302.989990,5447100
2017-11-10,302.500000,308.359985,301.850006,302.989990,302.989990,4617200