# Data Manipulation: Renaming Columns

In [1]:
import pandas as pd
pd.__version__

'1.0.3'

---

## Raname Column
- Using locally saved *ufo.csv* dataset

In [2]:
ufo = pd.read_csv('Data/ufo.csv')
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [3]:
# Look at comlumns attribute to get a list of columns
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

#### Rename method 1:
- Using *rename()* method with provided dictionary

In [4]:
# Provide a dict of old column : new column
# Use inplace=True to apply changes to the dataframe
new_columns = {'Colors Reported': 'Colors_Reported',  'Shape Reported': 'Shape_Reported'}
ufo.rename(columns=new_columns, inplace=True)
ufo.columns

Index(['City', 'Colors_Reported', 'Shape_Reported', 'State', 'Time'], dtype='object')

#### Rename method 2
- Speciify *mapper* and *axis* to indicate renaming of columns
- *mapper* can also be a function

In [5]:
# Provide a dict of old column : new column
# Capitalize City and State column names
# Use inplace=True to apply changes to the dataframe
new_columns = {'City': 'CITY',  'State': 'STATE'}
ufo.rename(mapper=new_columns, axis='columns', inplace=True)
ufo.columns

Index(['CITY', 'Colors_Reported', 'Shape_Reported', 'STATE', 'Time'], dtype='object')

In [6]:
# Provide a function to the mapper
# Capitalize All column names
# Use inplace=True to apply changes to the dataframe
ufo.rename(mapper=str.upper, axis='columns', inplace=True)
ufo.columns

Index(['CITY', 'COLORS_REPORTED', 'SHAPE_REPORTED', 'STATE', 'TIME'], dtype='object')

#### Rename method 3
- Rename all columns with a provided list of new column names
- Set *.columns* attribute to the list of new columns

In [7]:
# Set ufo.columns to a list of new column names
new_cols = ['city', 'colors reported', 'shape reported', 'state', 'time']
ufo.columns = new_cols
ufo.columns

Index(['city', 'colors reported', 'shape reported', 'state', 'time'], dtype='object')

#### Rename method 4
- Rename/overwrite while reading in the file
- Provide a list of column names to the *names* parameter

In [8]:
# Provide a list of new column names to the names parameter
# Set header=0, to indicate that the first row in the file is a Header to be replaced
new_cols = ['city', 'colors reported', 'shape reported', 'state', 'time']
ufo = pd.read_csv('Data/ufo.csv', names=new_cols, header=0)
ufo.columns

Index(['city', 'colors reported', 'shape reported', 'state', 'time'], dtype='object')

#### Rename method 5
- Apply changes to all columns using *str* methods

In [9]:
# Replace all spaces with underscore using str replace method
ufo.columns = ufo.columns.str.replace(' ', '_')
ufo.columns

Index(['city', 'colors_reported', 'shape_reported', 'state', 'time'], dtype='object')

---