# Pandas Basics

<hr>

## Reading Data

In [1]:
import pandas as pd

### Reading in Tabular Data
- Using locally saved **chipotle.tsv** dataset (tabular)
- **skiprows=None** and **skipfooter=None** can be used to skin rows in the begining and at the end if needed

In [12]:
# Supply default arguments (names=None, because column names are provided in the header)
df = pd.read_table('Data/chipotle.tsv', sep="\t", header="infer", names=None)
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

<hr>

## Select a pandas Series from a DataFrame