# Pandas - Reading and Writing Files

In [1]:
import pandas as pd

## Use read_csv to Read Data
Default delimiter is comma

In [13]:
hurricane_data = pd.read_csv('Hurricane_Data.csv')

In [14]:
hurricane_data

  Hurricane  Max Category  Year
0   Andrew'             4  1992
1  Charley'             3  2004
2  Katrina'             5  2005
3  Gilbert'             5  1988

## Create Series

In [17]:
hurricane = pd.Series(['Alicia', 'Audrey'])
hurricane

0    Alicia
1    Audrey
dtype: object

In [18]:
category = pd.Series([3,4])
category

0    3
1    4
dtype: int64

In [19]:
year = pd.Series([1983, 1957])
year

0    1983
1    1957
dtype: int64

#### Create A Dictionry from Pandas Series

In [21]:
d = {"Hurricane": hurricane,
    "Max Category": category,
    "Year": year
    }

## Create Pandas DataFrame based on Dictionary with Series

In [22]:
df = pd.DataFrame(d)
df

  Hurricane  Max Category  Year
0    Alicia             3  1983
1    Audrey             4  1957

## Write to CSV

#### Index=False - not to include index in the data when saving to csv

In [25]:
df.to_csv('New_Hurricane_Data.csv', index=False)

#### Read Newly Created Data

In [26]:
new_data = pd.read_csv('New_Hurricane_Data.csv')

In [27]:
new_data

  Hurricane  Max Category  Year
0    Alicia             3  1983
1    Audrey             4  1957